.check-balance-container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 14.7%;
    background-color: #010c1b;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 12%;
}

.checkBalanceHeader{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    color: white;
    font-size: xx-large;
}

.checkBalanceLabel{
    color: white;
}

.form-group {
    margin-bottom: 5%;
}

.input-field {
    width: 100%;
    padding: 2.5%;
    border: 1% solid #ccc;
    border-radius: 15px;
}

.check-balance-button {
    padding: 2.5%;
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}

.check-balance-button:hover {
    background-color: #0056b3;
}

.balance-result {
    margin-top: 5%;
    text-align: center;
    color: green;
}

.error-message {
    margin-top: 5%;
    text-align: center;
    color: red;
}
