.fund-transfer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 5%;
    border: 1% solid #ccc;
    /* border-radius: 1%;   */
    background-color: #010c1b;
    padding-left: 10%;
}

.fund-transfer-header {
    text-align: center;
    margin-bottom: 2%;
    color: #fff;
}

.fund-transfer-form {
    display: flex;
    flex-direction: column;
}

.fund-transfer-input-group {
    margin-bottom: 1%;
}

.fund-transfer-label {
    margin-bottom: 1%;
    color: white;
    margin-right: 10%;
}

.fund-transfer-input {
    padding: 1.5%;
    border: 1% solid #ccc;
    border-radius: 25px;
    width: 90%;
}

.fund-transfer-button {
    padding: 2.5%;
    background-color: #007bff53;
    color: white;
    border: none;
    border-radius: 50px;    
    cursor: pointer;
    width: 90%;
}

.fund-transfer-button:hover {
    background-color: #0056b3;
}

.fund-transfer-message {
    text-align: center;
    margin-top: 4%;
    color: #ff0000;
}
