* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  
.WithdrawPage {
    background-color: #e9ecef; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Arial', sans-serif; 
}

.WithdrawHeader {
    color: #2c3e50; 
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.WithdrawContent {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    padding: 50px; 
    max-width: 400px; 
    width: 100%; 
    text-align: left; 
}

.WithdrawLabel {
    font-weight: bold; 
    color: #34495e; 
    margin-bottom: 10px; 
    display: block; 
}

input[type="number"],
.input-field {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 2px solid #007bff; 
    border-radius: 30px; 
    font-size: 1.1rem; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input[type="number"]:focus,
.input-field:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5); /* Soft shadow on focus */
    outline: none; 
}

.WithdrawButton {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 12px; 
    border-radius: 30px; 
    cursor: pointer; 
    font-size: 1.2rem; 
    width: 100%; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.WithdrawButton:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 15px; 
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 15px; 
}

@media (max-width: 768px) {
    .WithdrawHeader {
        font-size: 2rem; 
    }

    input[type="number"],
    .input-field {
        font-size: 1rem; 
    }

    .WithdrawButton {
        font-size: 1rem; 
    }
}
