@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,600&display=swap');
.WithdrawPage{
    background: #010c1b;
    padding: 4rem;
    text-align: center;
}
.WithdrawHeader {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: "Mulish", sans-serif;
}

.WithdrawContent {

    border-radius: 16px;
    padding: 5%; 
    max-width: 90%; 
    margin: 0 auto; 
    align-items: center;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WithdrawLabel {
    display: block;
    margin-bottom: 3%; 
    color: white;
    width: 90%;
    text-align: left;
}
.input-field{
    width: 90%;
    border-radius: 50px;
}

input[type="number"] {
    width: 90%; 
    padding: 3%; 
    margin-bottom: 5%; 
    border: 1px solid #ccc;
    background: #9dbae953;
    border-radius: 50px;
    font-size: 16px;
}

.WithdrawButton {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    padding: 3%; 
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    width: 90%; 
}   

.WithdrawButton:disabled {
    background-color: #ffffff44;
}
.WithdrawButton:enabled:hover{
    background-color: #0063cd;
}


.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}
